node_modules/
.next/
out/
build/
.pnpm-store/

.env*
!.env.example

public/sw.js
public/sw.js.map
public/swe-worker*.js

npm-debug.log*
yarn-error.log*
*.log

coverage/
playwright-report/
test-results/
.playwright/

.DS_Store
.idea/
.vscode/
local/
*.tsbuildinfo
